<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespcae属性，指定当前的映射文件和哪个接口映射-->

<mapper namespace="com.zjydemo.mallstore.mapper.UserMapper">
<!--    自定义Map映射规则 -->
    <resultMap id="UserEntityMap" type="com.zjydemo.mallstore.entity.User">
<!--        字段名称一样的可以省略-->
<!--        主键必须映射-->
        <id column="uid" property="uid"></id>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>



<!--id属性：表示接口中的方法名称-->
<!--   useGeneratedKeys 开启Mybatis值自增， keyProperty指定是哪个字段自增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user (username,password,salt,phone,email,gender,avatar,is_delete,created_user,created_time,modified_user,modified_time) VALUES (#{username},#{password},#{salt},#{phone},#{email},#{gender},#{avatar},#{isDelete},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
    </insert>

<!--    查询的结果，查询的是一个对象或者是多个记录
        resultType：表示查询的结果集类型，只需要指定对应映射类的类型，并且包含完整包接口
        要求表的字段和类的字段完全一样
        resultMap：不要求字段完全一样
        -->
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE username=#{username}
    </select>
    
    
    <update id="updatePassword">
        UPDATE t_user SET password=#{password},
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
                        WHERE uid=#{uid}
    </update>

    <select id="findByUid"  resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE uid=#{uid}
    </select>
    
    <update id="updateInfo">
        UPDATE t_user SET
                          <if test="phone!=null">phone=#{phone},</if>
                          <if test="email!=null">email=#{email},</if>
                          <if test="gender!=null">gender=#{gender},</if>
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
        WHERE uid=#{uid}
    </update>

    <update id="updateAvatar">
        UPDATE t_user SET
            avatar=#{avatar},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        WHERE uid=#{uid}
    </update>
</mapper>